envs
Django
pip-tools
psycopg2-binary
CommonsDownloader
django-cors-headers
Pillow
djangorestframework
celery[redis]<5
grequests
booleano
git+git://github.com/mlazowik/bamboolean@9e50cce7781410d20a8440273d93b41bee5568a3#egg=bamboolean
pyroaring
